@font-face {
  font-family: "Anta";
  src: url("assets/font/Anta-Regular.ttf");
}

:root {

  --quizzBackgroundColor: #16697aff;
  --divBackgroundColor: #489fb5ff;
  --homeBackgroundColor: #82c0ccff;
  --borderColor: #ffa62bff;
  --textCodeColor: #8f2d56;
  --borderRadius: 15px;
}

  *{
    margin: 0;
   /*  outline: solid 1px red; */
  }
 
 
  body {
    font-family: "Anta", sans-serif;
    background-color: var(--quizzBackgroundColor);
}

/* HEADER menu  */

.topPage {
  margin:0.5em;
  display: flex;
  justify-content: space-between;
}

.logo img {
  background-color: var(--divBackgroundColor);
  width: 6em;
  border: 2px solid var(--borderColor);
  border-radius: var(--borderRadius);
}

.boxScore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 3em;
  color: white;
  background-color: var(--divBackgroundColor);
  border: 2px solid var(--borderColor);
  border-radius: 50%;
}

/* MENU Burger */

.menu{
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: var(--homeBackgroundColor);
  padding-top: 60px;
  transition: left 0.5s ease;
}

.menu a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color:white;
  display: block;
  transition: 0.3s;
}

.menu a:hover{
  color: black;
}

.menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu.active{
left: 0;
}

.menu.close{
  position: absolute;
  top: 0;
  right: 6em;
  font-size: 4em;
} 

.burggerIcon img {
  width: 6em;
  height: 3em;
}

@media screen {
  
}
/* Section Question */

.zoneQuizz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoneQuizz img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 15px 15px 0 0;
    
} 

.boxQuestion {
  width: 70%;
  height: 3.5rem;
  border-radius: var(--borderRadius);
  background-color: var(--divBackgroundColor);
  border: 3px solid var(--borderColor) ;
  align-items: center;
}

.question {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2em;
}

/* Section Reponse */

.reponse {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 3em;
}

.reponseBox {
  width: 90%;
  height: 4em;
  background-color: var(--divBackgroundColor);
  border: 2px solid var(--borderColor);
  border-radius: var(--borderRadius);
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Anta", sans-serif;
  font-size: 1em;
  
}

.reponseBox:hover  {
  background-color: var(--homeBackgroundColor);
  -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7); 
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.7);
}


/* footer */


.bottom {
  background-color: var(--divBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15em; /*Régler le margin si vous venez de pull*/
  border-top: solid 5px var(--borderColor);
}
@media screen and (min-width: 800px) {
  .bottom {
    width: 100%;
  }
}
.bottom span {
  display: flex;
  justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-right: 1em;
  text-align: center;
  max-height: 65ch;
}
@media screen and (min-width: 800px) {
  .bottom span {
    padding-right: 8em;
    padding-left: 8em;
  }
}

.footerCenter {
  border-right: solid 3px var(--borderColor);
  border-left: solid 3px var(--borderColor);
}